extends layout

block content
	h1= title
	p Welcome to #{title}
	a(href='users') go to users
	div
		| Choose your language:
		ul
			li
				a(href='/?clang=it') italiano
			li
				a(href='/?clang=en') English
			li
				a(href='/?clang=de') deutsch
		

		p #{texts.WELCOME_MSG}
		p #{coutryData}
		
		

