extends layout



block append stylesheets
    link(rel='stylesheet', href='resources/css/chat.css')
block append scripts
    script(src='resources/js/chat.js')

block content
    .chatBox(id="chatPanel")
        // <div class="col-md-5">
        .panel.panel-primary
            .panel-heading
                span.glyphicon.glyphicon-comment
                |  #{texts.GENERAL.CHAT}
                span#spn_isTyping.text-center
                .btn-group.pull-right
                    button#btn_minimiseChat.btn.btn-default.btn-xs(type='button')
                        span.glyphicon.glyphicon-chevron-down
                    ul.dropdown-menu.slidedown
                        li
                            a(href='#')
                                span.glyphicon.glyphicon-refresh
                                | __Refresh
                        li
                            a(href='#')
                                span.glyphicon.glyphicon-ok-sign
                                | __Available
            .panel-body(id="bodyPanel")
                ul#chat.chat
            .panel-footer(id="footerPanel")
                .input-group
                    input#inp_chat.form-control.input-sm(type='text', placeholder='#{texts.G.TYPE_MESSAGE}')
                    span.input-group-btn
                        button#btn_chat.btn.btn-warning.btn-sm #{texts.GENERAL.SEND}
block foot