<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="../public/resources/css/bootstrap.min.css">
    <script src="../public/resources/js/jquery-2.2.0.min.js"></script>
    <script src="../public/resources/js/bootstrap.min.js"></script>
</head>
<body>

    <label class="btn btn-primary active">
        <input type="checkbox" autocomplete="off" checked> Checkbox 1 (pre-checked)
    </label>

    <label class="btn btn-primary">
        <input type="checkbox" autocomplete="off"> Checkbox 2
    </label>
    <label class="btn btn-primary">
        <input type="checkbox" autocomplete="off"> Checkbox 3
    </label>

</body>
</html>