//- 
    ...
     

extends layout

block content
    p __Guuuuuuuuuuuuuuuuuiiiiiiiiiiiiiiiiiiiiideeeeeeeeeeeeeeeee
    

block append navbarli
    li
        a(href="/guideLanguages") __langs
    li
        a(href="/guideAreas") __areas
    li
        a(href="#") __pw
