doctype html
html
  head
    title= title
    script(src='resources/js/jquery-2.2.0.min.js')
    script(src='/socket.io/socket.io.js')
    script(src='resources/js/guide.socket.js')
  body
    button(id="btn_sendMessage") __send message
    p #{session.theUsername}
    p #{session.views}