//- 
    ...
     

extends layout

block content
    .row
        .col-sm-12
            a.back(href="/")
                img.backArrow(src='resources/images/icons/backArrow.png', alt='back icon')
                | #{texts.GENERAL.BACK}
    center
        h1 This page is under construction
        br
        h2 Change Password
        b here it's possible to implement a form to require a password reset
        br
        br
        br
