//- 
    ...

extends layout

block append scripts
    script(src='resources/js/jquery-2.2.0.min.js')
    script(src='resources/js/guide.languages.js')

block content
    h1 #{texts.TITLE_CHOOSE_LANGUAGES}
    form(id="frm_languages" method="post" action="/guideLanguages")
        //- var nativeNames = langs.getAllNativeNames()
        - var codes = langs.getAllCodes()
        script.
          languages = !{JSON.stringify(savedLangs)};
          //TODO add data from db
            //if(savedLanguages != null){
              //languages = TODO parsse json from db
            //}
        label(for="languages") #{texts.LANGUAGES} 
        input(id="inp_languages" type="text" list="languages" placeholder="__Type to search")
        datalist(id='languages')
          each code, index in codes
              option(code='' + code + '' value='' + langs.getNativeName(code) + '')
        br
        div(id="div_selectedLanguages")
          p __selected languages
        //if user is logged in => guide
        button(id='btn_sendLanguages') __send languages