doctype html
html
    head
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no')
        script(src='resources/js/jquery-2.2.0.min.js')
        script(src='resources/js/hammerV2.0.8.js')
        script(src='resources/js/hammerFunctions.js')
        //script(src='hammer.js')

    body
        #log
        #hammerdrag(style='background: #42d692; width: 150px; height: 150px;')