extends layout


block append scripts
    script(src='resources/js/hammerV2.0.8.js')
    script(src='resources/js/hammerFunctions.js')


block content
    style.
        .animate {
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
        }
        html, body{
            height: 100%;
            width: 100%;
        }

        #hammerContainer {
            height: 100%;
            width: 100%;
        }
    #hammerContainer
        #hammerdrag(style='background: #42d692; width: 150px; height: 150px; margin=10px;')
block foot