extends layout


block append scripts
    script(src='resources/js/hammerV2.0.8.js')
    script(src='resources/js/hammerFunctions2.js')

block append navbarli
    li
        a#videoSettings() #{texts.MENU.SETTINGS}



block content
    style.
        .animate {
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            transition: all .3s;
        }
        html, body{
            height: 100%;
            width: 100%;
        }

        #hammerContainer {
            height: 100%;
            width: 100%;

        }
        #hammerdrag{
            position: fixed;
            z-index: 10;
            background: #42d692;
            width: 200px;
            height: 200px;


        }
        #videoSettings{
            cursor: pointer;
        }


        #hammerSettings{
            position: fixed;
            z-index: 11;
            width: 100%;
            height: 100%;
            background: rgba(255,255,255,0.9);
            padding: 20px;
        }
    #hammerSettings
        .row
            .col-sm-12
                img.x(src='resources/images/icons/x.png', alt='close icon', id="img_loadClose")
        .row
            .col-sm-12
                h2(style='text-align: center;') __Drag the box

        .row
            .col-sm-12
                p __Opacity
                input#opacityRange(type='range', value='90')
        .row
            .col-sm-12
                p __Size
                input#sizeRange(type='range', value='50')
        br
        .row
                div(style='text-align: center;')
                    a.btn.btn-default.btn-green.btn-map(id="btn_hammerClose") #{texts.T_LOCATION.CLOSE}
    #hammerdrag
    #hammerContainer
        script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBfwr4Jux2OwmpetTfqEYpGBoX95Z5obkI&callback=initMap' async defer)
block foot