extends layout

block content
  if (!user)
    a(href="/login") Login
    br
    a(href="/register_proto") Register proto
    br
    a(href="/chooseLanguages") lang
    br
    a(href="/allUsers") all users
    br
    a(href="/chooseLocation") choose tourist location
    br
    a(href="/knownAreas") known areas
    br
    a(href="/db") db
    br
    a(href="/touristSettings") tourist setting
    br
    a(href="/guideSocket") guide socket
    br
    a(href="/index") splinxs
    br
    a(href="/login") Login
    br
    a(href="/register") Register
    br
    a(href="/touristLanguages") tourist langs
  if (user)
    p You are currently logged in as #{user.username}
    a(href="/logout") Logout