img#x-ok-img.x(src='resources/images/icons/x.png', alt='close icon')
center
    .container
        p __registration OK you can login now
        p __say something else

        .row
            .col-xs-12
                a#btn-ok-close.btn.btn-green #{texts.GENERAL.OK}