img#x-ok-img.x(src='resources/images/icons/x.png', alt='close icon')
center
    .container
        .loginRegisterForm
            .adas(style="max-width: 300px;")
                img.s(src='resources/images/splinxsLogoS.png', alt='s')
                h1 #{texts.REGISTER.COMPLETE}
                h3  #{texts.REGISTER.H3MESSAGE}
                p #{texts.REGISTER.THANKYOUMESSAGE}
                a#btn-ok-close.btn.btn-green(style="width: 100%;") #{texts.GENERAL.OK}