//- 
    ...

extends layout

block content
    form(id="frm_languages" method="post" action="/touristLanguages")
        - var nativeNames = langs.getAllNativeNames()
        - var codes = langs.getAllCodes()
        each code, index in codes
            label(for='' + code + '') #{langs.getNativeName(code)}
            input(type="checkbox", name="language", id='' + code + '' code='' + code + '', value='' + nativeNames[index] + '')
            br
            input(type="radio", name="" + code + "_skill", value="1" checked)
            input(type="radio", name="" + code + "_skill", value="2")
            input(type="radio", name="" + code + "_skill", value="3")
        br
        //if user is logged in => guide
        button(id='btn_sendLanguages') __send languages