
/* chatbox*/


.chatBox {
    padding-top: 70px;
    position: fixed;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 250px;
    transition: all 0.5s;
    z-index: 100;

}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}
.panel{
    border-color: #2585C4;
    height: 100%;
    margin-bottom: 0px;
    transition: all 0.5s;
}

.panel-body
{
    overflow-y: scroll;
    height: calc(100% - 41px - 51px);
    width: 100%;
    transition: height 0.5s;


    padding-top: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-left: 15px;

}

/*
#btn_minimiseChat{
    margin-top: 3px;
    height: 15px;
    position: fixed;
    right: 15px;
}
*/
.btn-sm{
    color: white;
    background-color: #28B294;
    border-color: #299879;
}
.btn-sm.focus, .btn-sm:focus, .btn-sm:hover {
    color: white;
}


.zeroBottom{
    height: 41px;
    bottom: 0;
    padding-top: 0px;

}
.borderBottom{
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}


.panel-primary>.panel-heading{
    background-color: #2585C4;
    border: 0;

}
.panel-heading{
    padding: 0px;
}
.chatLeftIcon{
    height: 41px;
    padding: 10px;
    padding-right: 5px;


}


.chatLeft{
    height: 41px;
    width: auto;
}
.chatRightIcon{
    position: absolute;
    right: 0;
    height: 41px;
    padding: 12px;
    z-index: 10000000000;

}

/* Spinner */
.spinnerChat {
    width: 100px;
    height: 41px;
    padding: 13px;
    display: inline;
    position: absolute;
}

.spinnerChat > div {
    width: 15px;
    height: 15px;
    background-color: #333;


    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinnerChat .bounceChat1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
    z-index: 10001;
    background-color: white;
}

.spinnerChat .bounceChat2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    background-color: white;
}
.spinnerChat .bounceChat3{
    background-color: white;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}
/* End Spinner */



@media screen and (max-width: 500px){
    .chatBox {
        width: 100%;
    }

    .panel-footer{
        height: 40px;
        padding: 5px;
    }
    .panel-body{
        height: calc(100% - 30px - 40px);
    }
    .panel-primary>.panel-heading{
        height: 30px;
    }
    .chatLeftIcon{
        height: 30px;
        padding: 5px;
    }
    .chatRightIcon{
        height: 30px;
        padding: 7px;
    }
    .chatLeft{
        height: 30px;
    }
    .zeroBottom{
        height: 30px;
    }
    .spinnerChat {
        padding: 7px;
    }
}


