/**
 * Copyright Ⓒ 2016 Splinxs
 * Authors: Elia Kocher, Philippe Lüthi
 * This file is part of Splinxs.
 * 
 * Splinxs is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License V3 as published by
 * the Free Software Foundation, see <http://www.gnu.org/licenses/>.
 */

.btn-login{
    width: 100%;
}
.row-login{
    margin-top: 10px;
    margin-bottom: 20px;
}

.loginRegisterForm{
    background-color: #f5f5f5;
    border-radius: 15px;
    max-width: 350px;
    padding-top: 5px;
    padding-bottom: 20px;
    margin-top: 40px;
    border: 2px;
    border-style: solid;
    border-color: #F2F2F2;
}
.inputTop{
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    height: 38px;
    font-size: 15px;
}
.inputBottom{
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-top-width: 0;
    height: 38px;
    font-size: 15px;
}
.alert-green{
    font-weight: bold;
    max-width: 300px;
    color: white;
    background-color: rgba(40, 178, 148, 0.6);
    border-color: #28B294;

}
.s{
    height: 50px;
    width: auto;
    margin-top: 20px;
}
.loginTitle{
    margin-top: 10px;
}
@media(max-height:400px){
    .s{
        display: none;
    }
}