/**
 * Copyright Ⓒ 2016 Splinxs
 * Authors: Elia Kocher, Philippe Lüthi
 * This file is part of Splinxs.
 * 
 * Splinxs is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License V3 as published by
 * the Free Software Foundation, see <http://www.gnu.org/licenses/>.
 */

#homeSlide{
	background-color: white;
	padding-top: 20px;
}
#splinxsSlide{
	background-color: #2585C4;
	color:white;
}
#aboutSlide{
	background-color: #31C6C7;
	color:white;
}
#contactSlide{
	background-color: #28B294;
	color:white;
}
#footerSlide{
background-color: white;

}
.slide{
	padding-top: 70px;
	padding-bottom: 70px;


}




/*index*/
.btn-index{
	width: 80%;
	margin: 10px;
}



/* Extra-extra Small */
@media(max-width:400px){
	/* the icons are 100% visible*/
	.splinxsSlideIcon{
		height: auto;
		max-width: 100%;

	}
}

/* Small devices (tablets, 768px and up) */
@media(max-width:768px) {
	#touristButton{
	height: 64px;
	font-size: 20px;
    padding-top: 16px;
	}
}

/*small devices, to see the whole registation form */
@media(max-height:450px){
	.registerTitle{
		margin-top: 5px;
		margin-bottom: 2px;
	}
	.form-group{
		margin-bottom: 5px;
	}
}




a{
	cursor: pointer;
}


/*index*/
.loginPopup{
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,0.9);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10000;
}

.registerPopup{
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,0.9);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10000;
}

.registartionOKPopup{
	height: 100%;
	width: 100%;
	background: rgba(255,255,255,0.9);
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10000;
}

.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.indexBody{

	position: fixed;
	overflow-y:scroll;

}

