html {
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

body {
	height: 100%;
	width: 100%;
}
header{
	width: 100%;
	height: 10%;
}
.guideLink {
	font-size: 20px;
	color: #222222;
}

.touristLink {
	font-size: 50px;
	color: #BBBBBB;
}

.errorSection {
	font-size: 100px;
	color: #FF0000;
}

/*topbar*/
.topbar {
	width: 100%;
}
.topbar-left::before{
   content: "\200B"; /*zero-width space*/
}
.topbar-left {
	width: calc(100% / 3);
	background: #2585C4;
	float: left;
}
.topbar-middle::before{
   content: "\200B";
}
.topbar-middle {
	width: calc(100% / 3);
	background: #31C6C7;
	float: left;
}
.topbar-right::before{
   content: "\200B";
}
.topbar-right {
	width: calc(100% / 3);
	background: #28B294;
	float: left;
}
/*topbar*/

/*footer*/
footer {
	position: absolute;
	width: 100%;
	bottom: 0px;
}
/*small chat*/
.smallChat {
	background: #2585C4;
	width: 15%;
	min-width: 250px;
	min-height: 41px;
	float: right;
}
.smallChat:hover {
	cursor:pointer
}

.smallChatImg {
	padding: 5px;
}

.smallChatText {
	font-size: 25px;
	vertical-align: middle;
	color: #F3F3F4;
}
/*small chat*/
/*footer*/

/*show own video mirrored*/
/*
#myVideo
{
	transform: rotateY(180deg);
	-webkit-transform:rotateY(180deg); /* Safari and Chrome */
/*	-moz-transform:rotateY(180deg); /* Firefox */
/*
}
*/

.video {
	width: 30%;
	height: 30%;
	float: left;
}

/* chatbox*/


#chatBox {
	margin-top: 0px;
	margin-bottom: 0px;
	margin-right: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	width: 15%;
	min-width: 250px;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
/* chatbox */

/*loading animation*/

.load {
	width: 100%;
	height: 50%;
	margin: auto;
	text-align: center;

}
.loadDot {
	width: calc(100vw / 7);
	height: calc(100vw / 7);
	float: left;
	margin-left: calc(100vw / 7);

}

#load-1::before{
   content: "\200B";
}
#load1 {
	background: #2585C4;
	animation: loadAnimation1 3s linear infinite;

}
#load-2::before{
   content: "\200B";
}
#load2 {
	animation: loadAnimation2 3s linear infinite;

	background: #31C6C7;
}
#load-3::before{
   content: "\200B";
}
#load3 {
	animation: loadAnimation3 3s linear infinite;

	background: #28B294;
}



/* Chrome - Safari - Opera*/
@-webkit-keyframes loadAnimation1 {
	0% { opacity: 0; }
	16% {opacity : 1;}
	50% {opacity : 1;}
	66% {opacity : 0;}
	100% {opacity : 0;}	
}
@-webkit-keyframes loadAnimation2 {
	0% {opacity: 0;}
	16% {opacity : 0;}
	33% {opacity : 1;}
	66% {opacity : 1;}
	83% {opacity : 0;}
	100% {opacity : 0;}
}
@-webkit-keyframes loadAnimation3 {
	0% {opacity: 0;}
	33% {opacity: 0;}
	50% {opacity: 1;}
	83% {opacity : 1;}
	100% {opacity : 0;}
}


/* Firefox */
@-moz-keyframes loadAnimation1 {
	0% { opacity: 0; }
	16% {opacity : 1;}
	50% {opacity : 1;}
	66% {opacity : 0;}
	100% {opacity : 0;}
}
@-moz-keyframes loadAnimation2 {
	0% {opacity: 0;}
	16% {opacity : 0;}
	33% {opacity : 1;}
	66% {opacity : 1;}
	83% {opacity : 0;}
	100% {opacity : 0;}
}
@-moz-keyframes loadAnimation3 {
	0% {opacity: 0;}
	33% {opacity: 0;}
	50% {opacity: 1;}
	83% {opacity : 1;}
	100% {opacity : 0;}
}

/* IE - Edge */
@keyframes loadAnimation1 {
	0% { opacity: 0; }
	16% {opacity : 1;}
	50% {opacity : 1;}
	66% {opacity : 0;}
	100% {opacity : 0;}	
}
@keyframes loadAnimation2 {
	0% {opacity: 0;}
	16% {opacity : 0;}
	33% {opacity : 1;}
	66% {opacity : 1;}
	83% {opacity : 0;}
	100% {opacity : 0;}
}
@keyframes loadAnimation3 {
	0% {opacity: 0;}
	33% {opacity: 0;}
	50% {opacity: 1;}
	83% {opacity : 1;}
	100% {opacity : 0;}
}

/*loading animation*/