
/*html {
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    height: 100%;
    width: 100%;
}
header{
    width: 100%;
    height: 10%;
}
main {
    height: 90%;
    width: 100%;
}
.guideLink {
    font-size: 20px;
    color: #222222;
}
*/
.nav.navbar-nav.navbar-right li a {
    color: #676A6C;
  
}
.navbar-custom {
	margin-top: 20px;
    color: #676A6C;
    background-color: white;
    opacity: 0.9;

}

body{
    height: 100%;
    width: 100%;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color:#676A6C;
    padding-top: 70px; /* for topbar and navbar*/

}

.touristLink {
    font-size: 50px;
    color: #BBBBBB;
}

.errorSection {
    font-size: 100px;
    color: #FF0000;
}

/*topbar*/
.topbar {
    width: 100%;
    top: 0;
    position: absolute;
}
.topbar-left::before{
    content: "\200B"; /*zero-width space*/
}
.topbar-left {
    width: calc(100% / 3);
    background: #2585C4;
    float: left;
}
.topbar-middle::before{
    content: "\200B";
}
.topbar-middle {
    width: calc(100% / 3);
    background: #31C6C7;
    float: left;
}
.topbar-right::before{
    content: "\200B";
}
.topbar-right {
    width: calc(100% / 3);
    background: #28B294;
    float: left;
}
/*topbar*/

/*footer*/
footer {
    position: absolute;
    width: 100%;
    bottom: 0;
}
/*small chat*/
.smallChat {
    background: #2585C4;
    width: 15%;
    min-width: 250px;
    min-height: 41px;
    float: right;
}
.smallChat:hover {
    cursor:pointer
}

.smallChatImg {
    padding: 5px;
}

.smallChatText {
    font-size: 25px;
    vertical-align: middle;
    color: #F3F3F4;
}
.smallChatUp {
    padding: 5px;
    float: right;
}
/*small chat*/
/*footer*/

/*show own video mirrored*/
/*
#myVideo
{
        transform: rotateY(180deg);
        -webkit-transform:rotateY(180deg); /* Safari and Chrome */
/*	-moz-transform:rotateY(180deg); /* Firefox */
/*
}
*/

.video {
    width: 30%;
    height: 30%;
    float: left;
}

/* chatbox*/


#chatBox {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    width: 15%;
    min-width: 250px;
}

.chat
{
    list-style: none;
    margin: 0;
    padding: 0;
}

.chat li
{
    margin-bottom: 10px;
    padding-bottom: 5px;
    border-bottom: 1px dotted #B3A9A9;
}

.chat li.left .chat-body
{
    margin-left: 60px;
}

.chat li.right .chat-body
{
    margin-right: 60px;
}


.chat li .chat-body p
{
    margin: 0;
    color: #777777;
}

.panel .slidedown .glyphicon, .chat .glyphicon
{
    margin-right: 5px;
}

.panel-body
{
    overflow-y: scroll;
    height: 250px;
}

/* TODO only for chat????
::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}
*/
/* chatbox */

/*loading animation*/

.load {
    width: 100%;
    height: 50%;
    margin: auto;
    text-align: center;
    opacity: 1;
}
.loadDot {
    width: calc(100vw / 7);
    height: calc(100vw / 7);
    float: left;
    margin-left: calc(100vw / 7);
}

#load-1::before{
    content: "\200B";
}
#load1 {
    background: #2585C4;
    animation: loadAnimation 3s linear infinite;
}
#load-2::before{
    content: "\200B";
}
#load2 {
    animation: loadAnimation 3s linear infinite;
    animation-delay: 1s;
    background: #31C6C7;
}
#load-3::before{
    content: "\200B";
}
#load3 {
    animation: loadAnimation 3s linear infinite;
    animation-delay: 2s;
    background: #28B294;
}

@keyframes loadAnimation {
    0% {
        opacity: 1;
    }
    35% {
        opacity : 0.0;
    }
    100% {
        opacity : 0.0;
    }
}

@-webkit-keyframes loadAnimation {
    0% {
        opacity: 1;
    }
    35% {
        opacity : 0.0;
    }
    100% {
        opacity : 0.0;
    }
}

@-moz-keyframes loadAnimation {
    0% {
        opacity: 1;
    }
    35% {
        opacity : 0.0;
    }
    100% {
        opacity : 0.0;
    }
}

/*loading animation*/

/*modal dialog*/
.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

.confirmContent {
    text-align: center;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: -moz-linear-gradient(#fff, #999);
    background: -webkit-linear-gradient(#fff, #999);
    background: -o-linear-gradient(#fff, #999);
}
/*modal dialog*/

/* map */
/*do not use #map, this will apply on all maps!!!!! use class */



.map{
    width: 85%;
    height: 100%;
    float: left;
}
/* map */



/*button*/
.btn-green{
	font-weight: bold;
	color: white;
	background-color: #28B294;
	border: 0px;
}
.btn-white{
    font-weight: bold;
    color: #28B294;
    background-color: white;
    border: 0px;
}

.btn-green:hover {
	background-color: #31C6C7;
	color: white;
}
/*button*/
.btn-green:focus,
.btn-green:active,
.btn-green:active:focus,
.btn-green:active:hover{
	background-color: #16797A;
	color: white;
}

/*navbar splinxs logo*/
.navbar-brand {

    padding: 10px 10px;
}