/* --- from https://github.com/tobiasahlin/SpinKit --- */
/* --- Author: Tobias Ahlin & Elia Kocher --- */
.spinner {
    margin: 30px auto;
    width: 100px;
    text-align: center;

}

.spinner > div {
    width: 30px;
    height: 30px;
    background-color: #333;

    border-radius: 100%;
    display: inline-block;
    -webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
    animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
    -webkit-animation-delay: -0.32s;
    animation-delay: -0.32s;
    z-index: 10001;
    background-color: #2585C4;
}

.spinner .bounce2 {
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
    background-color: #31C6C7;
}
.spinner .bounce3{
    background-color: #28B294;
}

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% {
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% {
          -webkit-transform: scale(1.0);
          transform: scale(1.0);
      }
}

.loadingPopup {
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10000;
    margin: 0;
}
.x{
    float: right;
    margin: 10px;
    width:20px;
    height:20px;
}



html, body {
    height: 100%;


}
.touristMap {
    height: 100%;
    width: 100%;
}

.btn-map{
    width: 90%;
    margin-bottom: 10px;

}
.front{
    padding-left: 80px;
    right: 40px;
    position: fixed;
    bottom: 20px;
    width: 100%;
    z-index: 9999;
}